<div class="content">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div>
      <label for="achternaam">Achternaam</label>
        <input 
            type="text" 
            class="form-control" 
            id="kenteken"
            formControlName="achternaam"
            [formGroup]="form">
    </div>
    <div class="error" *ngIf="form.controls['achternaam'].hasError('required') && form.controls['achternaam'].touched">Dit is required</div>
    <div>
      <label for="email">email</label>
        <input 
            type="email" 
            class="form-control" 
            id="email"
            formControlName="email"
            [formGroup]="form">
    </div>
    <div class="error" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Dit is required</div>
    <div>
      <label for="nummer">Telefoon nummer</label>
        <input 
            type="text" 
            class="form-control" 
            id="nummer"
            formControlName="nummer"
            [formGroup]="form">
    </div>
    <div class="error" *ngIf="form.controls['nummer'].hasError('required') && form.controls['nummer'].touched">Dit is required</div>
    <div>
      <label for="rekening">rekening nummer</label>
        <input 
            type="text" 
            class="form-control" 
            id="rekening"
            formControlName="rekening"
            [formGroup]="form">
    </div>
    <div class="error" *ngIf="form.controls['rekening'].hasError('required') && form.controls['rekening'].touched">Dit is required</div>
    <input type="submit" class="btn btn-primary" value="OK" [disabled]="!form.valid">
    <button>CANCEL</button>
  </form>
</div>
